*.iml

/target
/*.iml
/.ipr
/.iws
/.log
/.idea
/.project
/.classpath
/.settings
/.checkstyle
/.tern-project
/.factorypath

/*/target
/*/*.iml
/*/*.ipr
/*/*.iws
/*/*.log
/*/.idea
/*/.project
/*/.classpath
/*/.settings
/*/.checkstyle
/*/.tern-project
/*/.factorypath

/*/*/target
/*/*/*.iml
/*/*/*.ipr
/*/*/*.iws
/*/*/*.log
/*/*/.idea
/*/*/.project
/*/*/.classpath
/*/*/.settings
/*/*/.checkstyle
/*/*/.tern-project
/*/*/.factorypath

/*/*/*/target
/*/*/*/*.iml
/*/*/*/*.ipr
/*/*/*/*.iws
/*/*/*/*.log
/*/*/*/.idea
/*/*/*/.project
/*/*/*/.classpath
/*/*/*/.settings
/*/*/*/.checkstyle
/*/*/*/.tern-project
/*/*/*/.factorypath


local.properties
